.product__hover li:hover button {
	background: #ca1515;
}

.product__hover li:hover button span {
	color: #ffffff;
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.product__hover li button {
	font-size: 18px;
	color: #111111;
	display: block;
	height: 45px;
	width: 45px;
    border:none;
	background: #ffffff;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__hover li button span {
	position: relative;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	display: inline-block;
}
.wishlistreview{
    font-size: small;
    color: #2A3746;
    margin-left: 5px;
}
.individuallistprice{
    font-style: initial;
    font-weight: 800;
    color: #aa1111;
}
.individuallistprice span{
    font-size: small;
    color: #2A3746;
    font-weight: normal;
    margin-left: 5px;
}
.add-to-cart{
    float: right!important;
}

